{% extends 'main/base.html' %} {% load static %} {% block content %}
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
	<!-- breadcrumb -->
	<div class="bg-gray-13 bg-md-transparent">
		<div class="container">
			<!-- breadcrumb -->
			<div class="my-md-3">
				<nav aria-label="breadcrumb">
					<ol
						class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble"
					>
						<li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1">
							<a href="index.html">Home</a>
						</li>
						<li
							class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active"
							aria-current="page"
						>
							Support
						</li>
					</ol>
				</nav>
			</div>
			<!-- End breadcrumb -->
		</div>
	</div>
	

	<div class="container">
		<div class="row mb-10">
			<div class="col-md-8 col-xl-9">
				<div class="mr-xl-6">
					<div class="border-bottom border-color-1 mb-5">
						<h3 class="section-title mb-0 pb-2 font-size-25">
							Get Instant Support
						</h3>
					</div>
					<p class="max-width-830-xl text-gray-90">
						Thinking about solar for your home, office or business? Fill in your details and share a little about your needs. Our team will reach out quickly to guide you with the right solution.
					</p>
					<form class="js-validate" novalidate="novalidate" method="POST">
					    {% csrf_token %}
						<div class="row">
							<div class="col-md-6">
								<!-- Input -->
								<div class="js-form-message mb-4">
									<label class="form-label">
										First name
										<span class="text-danger">*</span>
									</label>
									<input
										type="text"
										class="form-control"
										name="first_name"
										placeholder=""
										aria-label=""
										required=""
										data-msg="Please enter your frist name."
										data-error-class="u-has-error"
										data-success-class="u-has-success"
										autocomplete="off"
										required
									/>
								</div>
								<!-- End Input -->
							</div>

							<div class="col-md-6">
								<!-- Input -->
								<div class="js-form-message mb-4">
									<label class="form-label">
										Last name
										<span class="text-danger">*</span>
									</label>
									<input
										type="text"
										class="form-control"
										name="last_name"
										placeholder=""
										aria-label=""
										required=""
										data-msg="Please enter your last name."
										data-error-class="u-has-error"
										data-success-class="u-has-success"
										required
									/>
								</div>
								<!-- End Input -->
							</div>
							
								<div class="col-md-6">
								<!-- Input -->
								<div class="js-form-message mb-4">
									<label class="form-label">
										Email Address
										<span class="text-danger">*</span>
									</label>
									<input
										type="text"
										class="form-control"
										name="zip_code"
										placeholder=""
										aria-label=""
										required=""
										data-msg="Please enter your frist name."
										data-error-class="u-has-error"
										data-success-class="u-has-success"
										autocomplete="off"
										required
									/>
								</div>
								<!-- End Input -->
							</div>

							<div class="col-md-6">
								<!-- Input -->
								<div class="js-form-message mb-4">
									<label class="form-label">
										Phone Number
										<span class="text-danger">*</span>
									</label>
									<input
										type="text"
										class="form-control"
										name="phone_number"
										placeholder=""
										aria-label=""
										required=""
										data-msg="Please enter your last name."
										data-error-class="u-has-error"
										data-success-class="u-has-success"
										required
									/>
								</div>
								<!-- End Input -->
							</div>

							
							<div class="col-md-12">
								<div class="js-form-message mb-4">
									<label class="form-label"> Your Message </label>

									<div class="input-group">
										<textarea
											class="form-control p-5"
											rows="4"
											name="message"
											placeholder=""
											required
										></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="mb-3">
							<button type="submit" class="btn btn-primary-dark-w px-5">
								Send Message
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-4 col-xl-3">
				<div class="border-bottom border-color-1 mb-5">
					<h3 class="section-title mb-0 pb-2 font-size-25">Our Store</h3>
				</div>
				<div class="mr-xl-6">
					<address class="mb-2">
						4380 Ibrahim Tahir Street, <br />
						Mabushi, Abuja,  <br />
						Nigeria 900107.
					</address>
					<ul class="list-unstyled mb-2">
					    <h5 class="font-size-14 font-weight-bold mb-3">
					<span class="">Lagos:</span><a href="#" class="">(+234) 815-020-2010</a></h5>
					</ul>
					<ul class="list-unstyled mb-2">
					    <h5 class="font-size-14 font-weight-bold mb-3">
					<span class="">Abuja:</span><a href="#" class="">(+234) 902-020-2010</a></h5>
					</ul>
					<h5 class="font-size-14 font-weight-bold mb-3">Hours of Operation</h5>
					<ul class="list-unstyled mb-2">
						<li class="flex-center-between mb-1">
							<span class="">Monday:</span><span class="">9:00 AM -5:00 PM</span>
						</li>
						<li class="flex-center-between mb-1">
							<span class="">Tuesday:</span><span class="">9:00 AM -5:00 PM</span>
						</li>
						<li class="flex-center-between mb-1">
							<span class="">Wednesday:</span><span class="">9:00 AM -5:00 PM</span>
						</li>
						<li class="flex-center-between mb-1">
							<span class="">Thursday:</span><span class="">9:00 AM -5:00 PM</span>
						</li>
						<li class="flex-center-between mb-1">
							<span class="">Friday:</span><span class="">9:00 AM -5:00 PM</span>
						</li>
						<li class="flex-center-between mb-1">
							<span class="">Saturday:</span><span class="">9:00 AM -5:00 PM</span>
						</li>
						<li class="flex-center-between">
							<span class="">Sunday</span><span class="">Closed</span>
						</li>
					</ul>
					<!--<h5 class="font-size-14 font-weight-bold mb-3">Careers</h5>-->
					<!--<p class="text-gray-90">-->
					<!--	If you’re interested in employment opportunities at Electro, please-->
					<!--	email us:-->
					<!--	<a-->
					<!--		class="text-blue text-decoration-on"-->
					<!--		href="mailto:contact@yourstore.com"-->
					<!--		>contact@yourstore.com</a-->
					<!--	>-->
					<!--</p>-->
				</div>
			</div>
		</div>
	
	</div>
</main>
<!-- ========== END MAIN CONTENT ========== -->

{% endblock %}
